.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.75;

  text-align: center;
  font-family: 'Poggers';
}

ul {
  list-style: none;
  padding: 0;
  padding-left: 0px;
}

.sidenav li {
  margin-top: 15px;
  margin-bottom: 15px;
  /*margin-left: -27.5px;*/
}

.flex-container {
  display: flex;
}

.flex-child-img {
  flex: 1;
}

.flex-child-nav {
  flex: 1;
}

.sidenav li.active a {
  background-color: black;
  color: white;
}


body {
  background-color: #1D2B34;
  margin: 0px;
}

#portrait {
  width: 50%;
  max-width: 250px;
  min-width: 200px;
  border-radius: 50%;
  margin-right: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidenav a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  /*font color*/
  display: block;
}

.sidenav a:hover {
  background-color: #cacaca;
  transition: 0.3s;
}

#logo img {
  max-width: 100%;
  max-height: 100%;
}

#image img {
  width: 100%;
}

#image_about_me img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#headline {
  text-align: center;
  font-size: 50px;
  font-family: 'Poggers';
  color: #B97C7D
}

#main {
  margin-left: 370px;
  /* Same as the width of the sidenav + margin*/
  margin-right: 120px;
  color: white;
  font-family: 'Calibri';
  font-size: 22px;
  font-weight: 200;
  text-align: justify;

}

#main-pp {
  margin-left: 120px;
  margin-right: 120px;
  color: white;
  font-family: 'Calibri';
  font-size: 22px;
  font-weight: 200;
  text-align: justify;

}

#coachingdiv {
  margin: auto;
  width: 60%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#coachingdiv li {
  font-size: 16pt;
  font-family: Georgia;
  text-align: left;
}

#foot {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 250px;
  text-align: center;
  color: grey;
}

#trainees_text {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 17pt;
}

#trainees_img {
  width: 30%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .sidenav {
    width: 100px
  }

  .sidenav a {
    font-size: 9px;
    margin: -15px;
  }


  #main {
    margin-left: 120px;
    /* Same as the width of the sidenav + margin*/
    margin-right: 20px;
    font-size: 12px;
  }

  #main-pp {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
  }

  #headline {
    font-size: 20px;
  }

  #portrait {
    max-width: 130px;
    min-width: 80px;
  }

  #coachingdiv li {
    font-size: 14px;
  }

  #trainees_text{
    font-size: 12px;
  }

  #foot{
    margin-left: 100px;
  }


}

@font-face {
  font-family: 'Poggers';
  /*a name to be used later*/
  src: url('Poggers-Bold.ttf')
}