.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.75;

  text-align: center;
  font-family: 'Poggers';
}

.sidenav li {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -27.5px;
}

.flex-container {
  display: flex;
}

.flex-child-img {
  flex: 1;
}

.flex-child-nav {
  flex: 1;
}

.sidenav li.active a {
  background-color: black;
  color: white;
}


body {
  background-color: #1D2B34;
  margin: 0px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  /*font color*/
  display: block;
}

.sidenav a:hover {
  background-color: #cacaca;
  transition: 0.3s;
}

#logo img {
  max-width: 100%;
  max-height: 100%;
}

#image img {
  width: 100%;
}

#image_about_me img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#headline {
  text-align: center;
  font-size: 50px;
  font-family: 'Poggers';
  color: #B97C7D
}

#main {
  margin-left: 370px;
  /* Same as the width of the sidenav + margin*/
  margin-right: 120px;
  color: white;
  font-family: 'Calibri';
  font-size: 22px;
  font-weight: 200;
  text-align: justify;
  
}

#coachingdiv {
  margin: auto;
  width: 60%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#coachingdiv li {
  /*margin-left: 100px;*/
  font-size: 16pt;
  font-family: Georgia;
  text-align: left;
}

#foot {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 250px;
  text-align: center;
  color: grey;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'Poggers';
  /*a name to be used later*/
  src: 'Poggers-Bold.ttf'

}